@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000080;
  --secondary-color: #ffaa22;

  --white: #ffffff;
}

body {
  font-family: "Quicksand", serif;
  height: 100vh;
  height: 100svh;
  background-image: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--primary-color),
    var(--white)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 0;
  gap: 1rem;
}

h1 {
  font-size: 3.5rem;
  color: var(--white);
}

p:nth-child(2) {
  font-size: 1.25rem;
  color: var(--white);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1rem;
  padding: 1em 1.5em;
  border-radius: 100vw;
  border: none;
}

input[type="submit"] {
  border: none;
  background-color: var(--primary-color);
  border-radius: 100vw;
  color: var(--white);
  padding: 1em 1.5em;
  cursor: pointer;
}

#modal {
  position: absolute;
  display: none;
  top: 1rem;
  right: 1rem;
  background-color: #f48585;
  padding: 1em;
  gap: 1rem;
  border-radius: 1rem;
  align-items: center;
}

#modal svg {
  width: 1rem;
  cursor: pointer;
}

#modal svg:hover path {
  fill: #ffffff;
}
